/* LAYOUT */
body {
	margin: 0; 
	padding: 0;
}

hr {
     color: #FFF;
     background: #FFF; 
     width: 10%; 
     height: 1px;
}

/* HEADER / MAIN CONTENT */
.navegacao-container {
	height: auto;
	width: 100%;
	margin: 5% auto;
	padding-left: 5%;
	position: absolute;
	z-index: 10; 
}

.logo {
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 200px;
	position: relative;
	width: 200px;
	z-index: 3;
}

/* Redução do tamanho da fonte em resoluções menores */
@media (max-width: 830px) {
	.logo {
		height: 180px;
		width: 180px;
	}
}

@media (max-width: 595px) {
	.logo {
		height: 160px;
		width: 160px;
	}
}

@media (max-width: 400px) {
	.logo {
		height: 140px;
		width: 140px;
	}
}

.navbar-default {
    background-color: transparent;
    border-color: #fff;
    color: red;
    font-family: 'Oxygen', serif;
    font-weight: bold;
    padding: 0 14px;
}

@media (max-width: 768px) {
	.navbar-default {
	    background-color: white;
	}	
}

.navbar {
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.nav.navbar-nav li a {
    color: #AE1818;
}

.nav.navbar-nav li a:hover {
    color: #FFF;
}

.conteudo {
	height: 100%;
	width: 100%;
}

.container-fluid {
	padding: 0px;
}

/* RECEBER ATUALIZAÇÕES */
.destaque-container {
	align-items: center;
	background: white;
	display: flex;
	height: 100vh;
	justify-content: center;
	overflow: hidden;
	width: 100%;
	z-index: 2;
}

.caixa-destaque {
	box-sizing: border-box;
	height: auto;
	overflow: hidden;
	position: relative;
	z-index: 3;
}

.titulo-destaque {
	color: #AE1818;
	font-family: 'Oxygen', serif;
	font-size: 3.5em;
	font-weight: bold;
	padding: 0px 25px 10px;
	text-align: center;
	z-index: 3;
}

.texto-destaque {
	color: #FFF;
	font-family: 'Source Sans Pro', serif;
	font-size: 2em;
	padding: 0px 40px;
	text-align: center;
	overflow: hidden;
	z-index: 3;
}

/* Redução do tamanho da fonte em resoluções menores */
@media (max-width: 830px) {
	.titulo-destaque {
		font-size: 3em;
	}

	.texto-destaque {
		font-size: 1.5em;
	}
}

@media (max-width: 595px) {
	.titulo-destaque {
		font-size: 2.5em;
	}

	.texto-destaque {
		font-size: 1em;
	}
}

@media (max-width: 400px) {
	.titulo-destaque {
		font-size: 2em;
	}

	.texto-destaque {
		font-size: 1em;
	}
}

.botao-destaque-wrapper {
	bottom: 0;
	height: auto;
	position: absolute;	
	width: 100%;
	z-index: 3;
}

.botao-destaque {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1px solid white;
    border-radius: 50px;
    cursor: pointer;
    color: #AE1818;
    font-family: 'Oxygen', serif;
    font-size: 1.3em;
    height: 60px;
    padding: 9px 10px;
	margin: 0 auto 2.5%;
    overflow: hidden;
    outline: none;
    position: relative;
    text-transform: uppercase;
    width: 60px;
	transition: all .2s ease-in-out; 
}

.botao-destaque:hover {
  transform: scale(1.1); 
}

.destaque-banner {
	left: 0px;
    height: inherit;
    opacity: 1;
 	position: absolute;
    top: 0px;
    width: 100%;  
    z-index: 1;
}

.destaque-overlay {
	background: black;
	left: 0px;
    height: 100%;
    opacity: .8;
 	position: absolute;
    top: 0px;
    width: 100%;  
    z-index: 2;
}

/* PERSONAGENS */
.personagens-container {
	background: url(../images/fumaca.png) no-repeat;
	background-size: cover;
	height: auto;
	position: relative;
	width: 100%;
}

.personagens-overlay {
	background: black;
	left: 0px;
    height: 100%;
    opacity: .7;
 	position: absolute;
    top: 0px;
    width: 100%;  
    z-index: 2;
}

.titulo-conteudo {
	color: #FFF;
	font-family: 'Oxygen', serif;
	font-size: 3.5em;
	padding: 50px 25px 10px;
	text-align: center;
	z-index: 3;
}

.personagem {	
	height: 300px;
	margin: 40px auto 30px;	
	z-index: 3;
}

.titulo-personagem {
	color: #AE1818;
	font-family: 'Oxygen', serif;
	font-size: 2em;
	font-weight: bold;
	padding: 0px 25px 15px;
	text-align: center;
	z-index: 3;
}

.descricao-personagem {
	color: #FFF;
	font-family: 'Source Sans Pro', serif;
	font-size: 1.4em;
	height: 160px;
	overflow: auto;
	text-align: center;
	margin-bottom: 20px;
}

.botao-personagem {
	align-items: center;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    color: #AE1818;
    display: flex;
    font-family: 'Oxygen', serif;
    font-size: 1.3em;
    font-weight: bold;
    justify-content: center;
    margin: 50px auto 50px;   
    outline: none;
    padding: 5px 10px;
    text-transform: uppercase;
	transition: all .2s ease-in-out; 
}

.botao-personagem:hover {
  transform: scale(1.03); 
}

.pablo {
	background: url(../images/pablo.jpg) no-repeat center;
	background-size: contain;
	border-radius: 50px;
}

.steve {
	background: url(../images/steve.jpg) no-repeat center;
	background-size: contain;
	border-radius: 50px;
}

.javier  {
	background: url(../images/javier.jpg) no-repeat center;
	background-size: contain;
	border-radius: 50px;
}

/* A SÉRIE */
.serie-container {
	background: darkred;
	height: auto;
	position: relative;
	width: 100%;
	z-index: 2;
}

.titulo-serie {
	color: #FFF;
	font-family: 'Oxygen', serif;
	font-size: 3.5em;
	font-weight: bold;
	padding: 40px 20px 0px;
	z-index: 3;
}

.subtitulo-serie {
	color: #999;
	font-family: 'Oxygen', serif;
	font-size: 1.5em;
	padding: 0px 20px 25px;
	z-index: 3;
}

.descricao-serie {
	color: white;
	font-family: 'Source Sans Pro', serif;
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 1%;
	padding: 0px 21px 5%;
}

.slider {
	margin: 0 auto;
	padding: 130px 50px 40px;
}

/* LOCALIZAÇÃO */
.localizacao-container {
	background: black;
	height: auto;
	position: relative;
	width: 100%;
	z-index: 2;
}

.titulo-localizacao {
	color: #AE1818;
	font-family: 'Oxygen', serif;
	font-size: 3.5em;
	font-weight: bold;
	padding: 90px 20px 0px;
	z-index: 3;
}

.subtitulo-localizacao {
	color: #FFF;
	font-family: 'Oxygen', serif;
	font-size: 1.5em;
	padding: 0px 25px 25px;
	z-index: 3;
}

.conteudo-localizacao {
	color: white;
	font-family: 'Source Sans Pro', serif;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 20px;
	padding: 10px 26px;
}

.mapa {
	margin: 0 auto;
	padding: 100px 30px 80px 30px;
}

.google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }

.google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
}

/* RECEBER ATUALIZAÇÕES */
.atualizacao-container {
	align-items: center;
	background: white;
	display: flex;
	height: 100vh;
	justify-content: center;
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 2;
}

.atualizacao-overlay {
	background: black;
	left: 0px;
    height: 100%;
    opacity: .8;
 	position: absolute;
    top: 0px;
    width: 100%;  
    z-index: 2;
}

.atualizacao-banner {
	left: 0px;
    height: 100%;
    opacity: 1;
 	position: absolute;
    top: 0px;
    width: 100%;  
    z-index: 3;
}

.titulo-atualizacao {
	color: #FFF;
	font-family: 'Oxygen', serif;
	font-size: 3.5em;
	font-weight: bold;
	padding: 0px 20px 0px;
	text-align: center;
	z-index: 5;
}

@media (max-width: 830px) {
	.titulo-atualizacao {
		font-size: 3em;
	}
}

@media (max-width: 595px) {
	.titulo-atualizacao {
		font-size: 2.5em;
	}
}

@media (max-width: 400px) {
	.titulo-atualizacao {
		font-size: 2em;
	}
}

input[type=text] {
	background-color: Transparent;
    background-repeat: no-repeat;
    border-radius: 3px;
	box-sizing: border-box;
	color: white;
	display: block;
	font-family: 'Source Sans Pro', serif;
  	margin: 40px auto;
    padding: 12px 20px;
    width: 80%;
}


input[type=email] {
	background-color: Transparent;
    background-repeat: no-repeat;
    border-radius: 3px;
	box-sizing: border-box;
	color: white;
	display: block;
	font-family: 'Source Sans Pro', serif;
  	margin: 40px auto;
    padding: 12px 20px;
    width: 80%;
}

button {
	background-color: #AE1818;
    background-repeat: no-repeat;
    border: 0px;
    border-radius: 3px;
	box-sizing: border-box;
	color: white;
	display: block;
  	margin: 40px auto;
    padding: 12px 20px;
    transition: all .2s ease-in-out; 
    width: 30%;
}

button:hover{
	transform: scale(1.1); 
}

/* Cor do placeholder nos inputs */ 
*::-webkit-input-placeholder {
    color: white;
}

*:-moz-placeholder {
    /* FF 4-18 */
    color: white;
}

*::-moz-placeholder {
    /* FF 19+ */
    color: white;
}

*:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}

/* RODAPE */
.footer {
    bottom: 0;
    height: auto;
    position: absolute;
    width: 100%;
    z-index: 4;
}

.texto-rodape {
	color: white;
	font-family: 'Source Sans Pro', serif;
	font-size: 1.5em;
	text-align: center;
}

.texto-redes {
	color: white;
	font-family: 'Source Sans Pro', serif;
	font-size: 1.5em;
	text-align: center;
}

.redes-sociais {
	height: 20px;
	margin: 5px auto;
	padding: 0px 0px 0px 22px;
	position: relative; 
	width: 150px;
}

.facebook {
	background: url(../images/facebook.png) no-repeat;
	background-size: contain;
	float: left;
	margin: auto;
	height: 100%;
	width: 33%;
}

.twitter {
	background: url(../images/twitter.png) no-repeat;
	background-size: contain;
	float: right;
	height: 100%;
	margin: auto;
	width: 33%;
}

.youtube {
	background: url(../images/youtube.png) no-repeat;
	background-size: contain;
	float: right;
	height: 100%;
	margin: auto;
	width: 33%;
}

.em-cima {
	position: relative;
	z-index: 3;
}

.em-cima-nav {
	position: relative;
}


/* CORES */
.preto {
	background: black;
}

/* AJUSTES GERAIS */ 
.absolute {
	position: absolute;
}

.fixed {
	background-color: #fff;
	position: fixed;
	top: 20px;
}

.sem-ajuste {
	padding: 0;
	margin: 0;
	padding-left: 0; 
	padding-right: 0; 
	margin-left: 0; 
	margin-right: 0;
}